.btn{
  margin-right:5px;
}

.markedAsDone{
  text-decoration: line-through;
  color: #777;
}

/* Credit Card */

.credit-card-div { max-width:600px; margin:0 auto; }
.credit-card-div  span { padding-top:10px; }
.credit-card-div img { padding-top:30px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px; }
